@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

    <footer class="fixed-bottom mb-1 border-top footer text-muted">
        <div class="container">
            Developed by Maria Kulidzhanova w/ Blazor
            <a href="https://github.com/MariyaKulidzhanova"><img src="/github.png" style="width:20px;height:20px;"/></a>
            // 2021
        </div>
    </footer>
</div>
